<footer class="navbar-dark  navbar-custom ">

    <div class="d-flex justify-content-center">
        <div class="p-3"><a href="#">
                <fa-icon [icon]="facebookIcon" size="2x"></fa-icon>
            </a></div>
        <div class="p-3"><a href="">
                <fa-icon [icon]="twitterIcon" size="2x"></fa-icon>
            </a></div>
        <div class="p-3"><a href="">
                <fa-icon [icon]="instagramIcon" size="2x"></fa-icon>
            </a> </div>

    </div>

    <div class="p-2" style="text-align: center;">
        © 20201 Copyright: GreenWash.com
    </div>

</footer>